{% load static %}
{% include "includes/header.html" %}
{% block body %}
<div class ='container'>
    <h1>BMI Calculator</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type ='submit'>Submit</button>
    </form>
   <h2>{{ text }}</h2>
    <!--{% for post in posts %}
        <h1>{{ post.name }}</h1>
        <h1>{{ post.weight }}</h1>
        <h1>{{ post.feet }}</h1>
        <h1>{{ post.inches }}</h1>
    {% endfor %} -->


    {% for post in posts %}


    {% endfor %}

   <h1> {{ post.name }}</h1>




</div>


{% endblock %}